@font-face {
   font-family: 'Inter-Bold';
   font-display: swap;
   src: url('file:///C:/Users/user/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-01-23_172559/fonts/Inter-Bold/font.ttf');
}
